alembic==1.5.8
aniso8601==9.0.1
astroid==2.5.3
Babel==2.9.1
blinker==1.4
click==7.1.2
cssmin==0.2.0
dnspython==2.1.0
dominate==2.6.0
email-validator==1.1.2
Flask==1.1.2
Flask-Admin==1.5.7
Flask-Assets==2.0
Flask-BabelEx==0.9.4
Flask-CKEditor==0.4.4.1
Flask-JWT-Extended==4.1.0
Flask-Login==0.5.0
Flask-Mail==0.9.1
Flask-Markdown==0.3
Flask-Migrate==2.7.0
Flask-Moment==0.11.0
Flask-OAuth==0.12
Flask-Principal==0.4.0
Flask-RESTful==0.3.8
Flask-Script==2.0.6
Flask-Security==3.0.0
Flask-Social==1.6.2
Flask-SQLAlchemy==2.5.1
Flask-Testing==0.8.1
Flask-WTF==0.14.3
greenlet==1.0.0
httplib2==0.19.1
humanize==3.4.1
idna==3.1
importlib-metadata==3.10.0
isort==5.8.0
itsdangerous==1.1.0
Jinja2==2.11.3
jsmin==2.2.2
lazy-object-proxy==1.6.0
Mako==1.1.4
Markdown==3.3.4
MarkupSafe==1.1.1
mccabe==0.6.1
oauth2==1.9.0.post1
passlib==1.7.4
psycopg2-binary==2.8.6
PyJWT==2.0.1
pylint==2.7.4
pyparsing==2.4.7
pyScss==1.3.7
python-dateutil==2.8.1
python-dotenv==0.17.0
python-editor==1.0.4
python-slugify==4.0.1
pytz==2021.1
ruamel.yaml==0.17.4
ruamel.yaml.clib==0.2.2
six==1.15.0
speaklater==1.3
SQLAlchemy==1.4.7
text-unidecode==1.3
toml==0.10.2
typed-ast==1.4.3
tzlocal==2.1
Unidecode==1.2.0
visitor==0.1.3
webassets==2.0
Werkzeug==1.0.1
wrapt==1.12.1
WTForms==2.3.3
zipp==3.4.1
