alabaster==0.7.12
alembic==1.8.1
aniso8601==9.0.1
astroid==2.12.10
Babel==2.10.3
blinker==1.5
certifi==2022.9.14
charset-normalizer==2.1.1
click==8.1.3
dill==0.3.5.1
dnspython==2.2.1
docutils==0.17.1
dominate==2.7.0
email-validator==1.3.0
Flask==2.2.2
Flask-Admin==1.6.0
Flask-BabelEx==0.9.4
Flask-JWT-Extended==4.4.4
Flask-Login==0.6.2
Flask-Mail==0.9.1
Flask-Markdown==0.3
Flask-Migrate==3.1.0
Flask-Moment==1.0.4
Flask-OAuth==0.12
Flask-Principal==0.4.0
Flask-RESTful==0.3.9
Flask-Script==2.0.6
Flask-Security-Too==5.0.2
Flask-Social==1.6.2
Flask-SQLAlchemy==2.5.1
Flask-Testing==0.8.1
Flask-WTF==1.0.1
greenlet==1.1.3
httplib2==0.20.4
humanize==4.4.0
idna==3.4
imagesize==1.4.1
importlib-metadata==4.12.0
isort==5.10.1
itsdangerous==2.1.2
Jinja2==3.1.2
lazy-object-proxy==1.7.1
Mako==1.2.3
Markdown==3.4.1
MarkupSafe==2.1.1
mccabe==0.7.0
oauth2==1.9.0.post1
packaging==21.3
passlib==1.7.4
platformdirs==2.5.2
psycopg2-binary==2.9.3
Pygments==2.13.0
PyJWT==2.5.0
pylint==2.15.3
pyparsing==3.0.9
python-dateutil==2.8.2
python-dotenv==0.21.0
python-editor==1.0.4
python-slugify==6.1.2
pytz==2022.2.1
pytz-deprecation-shim==0.1.0.post0
requests==2.28.1
six==1.16.0
snowballstemmer==2.2.0
speaklater==1.3
Sphinx==5.1.1
sphinx-rtd-theme==1.0.0
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==2.0.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.5
SQLAlchemy==1.4.41
text-unidecode==1.3
toml==0.10.2
tomli==2.0.1
tomlkit==0.11.4
tzdata==2022.2
tzlocal==4.2
Unidecode==1.3.4
urllib3==1.26.12
visitor==0.1.3
Werkzeug==2.2.2
wrapt==1.14.1
WTForms==3.0.1
zipp==3.8.1
