<!-- Modal -->
{% from "shared/_macros.html" import render_field_with_errors %}
<div class="modal fade" id="buzzForm" tabindex="-1" role="dialog" aria-labelledby="buzzFormTitle" aria-hidden="true">
<div class="modal-dialog modal-lg modal-dialog-centered" role="document">
    <div class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title" id="buzzFormTitle">New Buzz</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <form action="{{ url_for('base.create_buzz') }}" method="POST">
        <div class="modal-body">            
            {{ data['buzz_form'].hidden_tag() }}            
            {{ render_field_with_errors(data['buzz_form'].title, class="form-control", placeholder="Title") }}
            {{ render_field_with_errors(data['buzz_form'].body, class="form-control", placeholder="Body") }}
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </form>
    </div>
</div>
</div>