{% macro circle_button(href="#", class="primary", icon="check", size=None) %}
    <a href="{{ href }}" class="btn btn-{{ class }} btn-circle {% if size %}btn-{{ size }}{% endif %}">
        <i class="{{ icon }}"></i>
    </a>
{% endmacro %}


{% macro split_button(text, href="#", class="primary", icon="fas fa-check", size=None, text_color="text-white-50") %}
    <a href="{{ href }}" class="btn btn-{{ class }} btn-icon-split {% if size %}btn-{{ size }}{% endif %}">
        <span class="icon {{ text_color }}">
            <i class="{{ icon }}"></i>
        </span>
        <span class="text">{{ text }}</span>
    </a>
{% endmacro %}

{% macro card_button(title, text, class="dark", icon="fas fa-check")%}

    <div class="card border-left-{{ class }} shadow h-100 py-2">
        <div class="card-body">
            <div class="row no-gutters align-items-center">
                <div class="col mr-2">
                    <div class="text-xs font-weight-bold text-{{ class }} text-uppercase mb-1">{{ title }}</div>
                    <div class="h5 mb-0 font-weight-bold text-gray-800">{{ text }}</div>
                </div>
                <div class="col-auto">
                    <i class="{{ icon }} fa-2x text-gray-300"></i>
                </div>
            </div>
        </div>
    </div>

{% endmacro %}