{% extends "base.html" %}
{% set disable_sidebar = True %}
{% set disable_navbar = True %}

{% set title = "Change Password" %}

{% block body_classes %}bg-gradient-primary{% endblock %}

{% block content %}
<div class="container">
  <!-- Outer Row -->
  <div class="row justify-content-center">
    <div class="col-xl-10 col-lg-12 col-md-9">
      <div class="card o-hidden border-0 shadow-lg my-5">
        <div class="card-body p-0">
          <!-- Nested Row within Card Body -->
          <div class="row">
            <div class="col-lg-6 d-none d-lg-block bg-login-image"></div>
            <div class="col-lg-6">
              <div class="p-5">
                <div class="text-center">
                  <h1 class="h4 text-gray-900 mb-4">Change Password</h1>
                </div>
                <form action="{{ url_for('base.change_password') }}" method="POST">
                  {{ form.csrf_token }}
                  <div class="form-group">
                    {{ form.password.label(class="form-label") }}
                    {{ form.password(class="form-control form-control-user", placeholder="Current Password") }}
                    {% if form.password.errors %}
                      {% for error in form.password.errors %}
                        <span class="text-danger">{{ error }}</span>
                      {% endfor %}
                    {% endif %}
                  </div>
                  <div class="form-group">
                    {{ form.new_password.label(class="form-label") }}
                    {{ form.new_password(class="form-control form-control-user", placeholder="New Password") }}
                    {% if form.new_password.errors %}
                      {% for error in form.new_password.errors %}
                        <span class="text-danger">{{ error }}</span>
                      {% endfor %}
                    {% endif %}
                  </div>
                  <div class="form-group">
                    {{ form.new_password_confirm.label(class="form-label") }}
                    {{ form.new_password_confirm(class="form-control form-control-user", placeholder="Confirm New Password") }}
                    {% if form.new_password_confirm.errors %}
                      {% for error in form.new_password_confirm.errors %}
                        <span class="text-danger">{{ error }}</span>
                      {% endfor %}
                    {% endif %}
                  </div>
                  <button type="submit" class="btn btn-primary btn-user btn-block">
                    Change Password
                  </button>
                </form>
                <hr>
                <div class="text-center">
                  <a class="small" href="{{ url_for('base.reset_password_request') }}">Forgot Password?</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}