{% extends "base.html" %} 

{% block linkitem %}blankpage-link{% endblock %}
{% set title = "500 ERROR" %} 

{% block content %}
<!-- Begin Page Content -->
<div class="container-fluid">
    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Server Error</h1>
    </div>

    <!-- Content Row -->
    <div class="row">
        We're sorry, but rest assured that your error has been logged.
    </div>
</div>

{% endblock %}
