{% macro header(title, id) %}

  <div class="d-sm-flex align-items-center justify-content-between mb-4" id="{{ id }}">
    <h1 class="h3 mb-0 text-gray-800">{{ title }}</h1>
  </div>

{% endmacro %}




{% macro header_with_image(title, id, file) %}

<div class="col-sm-12" id="{{ id }}">
  <div class="card bg-primary text-white shadow d-flex align-items-end">
    <img class="img-fluid mb-5 d-block mx-auto" src="{{ file }}" alt="article_image">
    <div class="card-body">
      <h1>{{ title }}</h1>
    </div>
  </div>
</div>

{% endmacro %}