{#####################################}
{############## SETTINGS #############}
{#####################################}
{% extends "base.html" %} 
{% block linkitem %}blankpage-link{% endblock %} {# hands off a variable to the script that activates the nav menu link items #}
{% block body_classes %}{% endblock %} {# place to insert options to change body layout #}
{% set title = "Blank Page" %} 
{% set meta_description = "This is my page's search engine description." %} 


{#####################################}
{################ BODY ###############}
{#####################################}
{% block content %}
  <!-- Begin Page Content -->
  <div class="container-fluid">
    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
      <h1 class="h3 mb-0 text-gray-800">Blank Page</h1>
    </div>
  </div>
  <div class="container">
    {# - main content row - #}
    <div class="row">
    </div>
  </div>
{% endblock %}


{#####################################}
{################ TAIL ###############}
{#####################################}
{% block tail %}
<script>
  $( document ).ready(function() {
    console.log( "Template-specific script activated" );
  });
</script>
{% endblock %}


{#####################################}
{############## MODALS ###############}
{#####################################}
{% block modals %}
{% endblock %}
