{% extends "base.html" %} 

{% block linkitem %}homepage-link{% endblock %}
{% block title %}Welcome{% endblock %} 

{% block content %}

<div id="hero" class="full-height bg-gradient-secondary d-flex align-items-center">
  <img src="{{ url_for('static', filename='img/Flaskinni.png') }}"/>
</div>

<!-- Begin Page Content -->
<div class="container-fluid">
  <!-- Page Heading -->
  <div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Build with Flaskinni</h1>
    <a target="_blank" href="https://github.com/dadiletta/flaskinni" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-download fa-sm text-white-50"></i> GitHub Repo</a>
  </div>
</div>

{% endblock %} 