{% extends "base.html" %}

{% block linkitem %}blogpost-link{% endblock %}
{% block title %}Blog Post{% endblock %}

{% block head %}
{{ ckeditor.load() }}
{% endblock %}

{% block content %}


<div class="container-fluid">
  
  {% from "main/_helpers.html" import header %}
    {% if action=="new" %}
      {{ header("New Blog Post", "blogheader") }}
    {% else %}
      {{ header("Edit Blog Post", "blogheader") }}
  {% endif %}
  
  <div class="container">
      <div class="row justify-content-md-center">
          <div class="col-md-10">
            {% from "security/_macros.html" import render_field %}
            {% if action=="new" %}<form method="POST" action="{{ url_for('main.new_post')}}" enctype="multipart/form-data" role="form">{% else %}<form method="POST" action="{{ url_for('main.edit_post', post_id=post.id)}}" enctype="multipart/form-data" role="form">
              {% endif %}
              {{ form.hidden_tag() }}

              {% if post and post.image %}
              <img src="{{ post.imgsrc }}" height="80px" class="img-rounded">
              {% endif %}

              {{ render_field(form.image, class='form-control') }}
              {{ render_field(form.title, class='form-control') }}
              {{ render_field(form.subtitle, class='form-control') }}
              {{ render_field(form.body, class='form-control', rows=10) }}

              {% if action=="new" %}<button type="submit" class="btn btn-primary">Post</button>{% else %}
              <button type="submit" class="btn btn-primary">Update</button>{% endif %}

            </form>
          </div>
      </div>
  </div>
</div>

{% endblock %}