{% extends "base.html" %} 

{% set title = "Profile" %}

{% block content %}
<!-- Begin Page Content -->
<div class="container-fluid">
  <!-- Page Heading -->
  <div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">{{ user }}</h1>
  </div>

  <!-- Content Row -->
  <div class="row">
    {# A column should be used around here #}
    {# use getbootstrap.com for better example cards #}
    <!-- Basic Card Example -->
			<div class="card shadow mb-4">
				<div class="card-header py-3">
					<h6 class="m-0 font-weight-bold text-primary">Simple Profile Card</h6>
				</div>
				<div class="card-body">
					{{ user.first_name }}<br/>{{ user.email }}<br/>
          {{ user.last_name }}<br/>{{ user.imgsrc }}<br/>
          {{ user.phone }}<br/>
          {{ user.address }}<br/>
          {% if user.last_seen %}
            Last seen {{ moment(user.last_seen).fromNow() }}
          {% else %}
            User has not logged in yet
          {% endif %}
          <br/>
          {% if user == current_user %}
            this is you!
          {% endif %}
				</div>
			</div>
    
	</div>
</div>

{% endblock %}
