{% extends "base.html" %} 

{% block linkitem %}blankpage-link{% endblock %}
{% block title %}Blank Page{% endblock %} 

{% block content %}
<!-- Begin Page Content -->
<div class="container-fluid">
    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Page Not Found</h1>
    </div>

    <!-- Content Row -->
    <div class="row">
        We're sorry, we don't have a page to handle your request.
    </div>
</div>

{% endblock %}
