{% extends "base.html" %}

{% set title = post.title %}

{% block content %}

<div class="container-fluid">
  {% from "base/_helpers.html" import header_with_image, header %}
  {% if post and post.image %}
  {{ header_with_image(post.title, "postheader", post.img) }}
  {% else %}
  {{ header(post.title, "postheader") }}
  {% endif %}
  <div class="container">
      <div class="row justify-content-md-center">
          <div class="col-md-10">
            {% if current_user.has_role('admin') %}
              <a href="{{ url_for('base.edit_post', post_id=post.id) }}">Edit</a> -
              <a href="{{ url_for('base.delete_post', post_id=post.id) }}">Delete</a>
            {% endif %}
            <hr />
            <div class="text-muted">Posted by <a href="#">{{ post.user }}</a> on {{ post.pubdate }}.
            </div>
          </div>
      </div>
    <div class="row justify-content-md-center">
      <div class="col-md-10">
      <p>{{ post.body|safe }}</p>
      </div>
    </div>
  </div>
</div>

{% endblock %}