{% extends "base.html" %} 

{#- PAGE SETTINGS -#}
{% block linkitem %}homepage-link{% endblock %}
{% set title = "Home" %} 

{#- CONTENT -#}
{% block content %}

  {#- FULL-HEIGHT HERO -#}
  <div id="hero" class="full-height bg-gradient-secondary d-flex align-items-center">
    <img src="{{ url_for('static', filename='img/Flaskinni.png') }}"/>
  </div>

  <!-- Begin Page Content -->
  <div class="container-fluid">
    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
      <h1 class="h3 mb-0 text-gray-800">Build with Flaskinni</h1>
      <a target="_blank" href="https://github.com/dadiletta/flaskinni" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-download fa-sm text-white-50"></i> GitHub Repo</a>
    </div>
    {% if data['posts'] and data['posts']|length > 0 %}
        <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
      <h1 class="h3 mb-0 text-gray-800">Blog</h1>
    </div>

    <!-- Content Row -->
    <div class="row">
      
      {% for post in data['posts'] %}
        <div class="col-lg-6">

          <!-- Dropdown Card Example -->
          <div class="card shadow mb-4">
            {% if post.img %}
              <img class="card-img-top" src="{{ post.img }}" alt="{{ post.title }}">
            {% endif %}
            <!-- Card Header - Dropdown -->
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
              <h6 class="m-0 font-weight-bold text-primary">{{ post.title }}</h6>
              {% if current_user.has_role('admin') %}
              <div class="dropdown no-arrow">
                <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                </a>
                <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink" x-placement="bottom-end" style="position: absolute; transform: translate3d(-156px, 18px, 0px); top: 0px; left: 0px; will-change: transform;">
                  <div class="dropdown-header">Admin Functions:</div>
                  <a class="dropdown-item" href="{{ url_for('base.edit_post', post_id=post.id) }}">Edit post</a>
                  <a class="dropdown-item delete" href="{{ url_for('base.delete_post', post_id=post.id) }}">Delete post</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="{{ url_for('base.read', slug=post.slug) }}" target="_blank">View in new tab</a>
                </div>
              </div>
              {% endif %}
            </div>
            <!-- Card Body -->
            <div class="card-body">
              {{ post.body|safe|truncate(200) }}
              <hr>
              <a href="{{ url_for('base.read', slug=post.slug) }}" class="btn btn-primary">Read More</a>
            </div>
          </div>

        </div>
        {% endfor %}
      </div>
    {% endif %}
  </div>

{% endblock %} 