<!DOCTYPE html>
<html lang="en">
<head>
    {% block head_meta %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    {% endblock %}
    <title>{% block title %}Welcome{% endblock %} - Flaskinni</title>
    <!-- Bootstrap Core CSS zz123-->
    {% block head_css %}
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    {% endblock %}
    <!-- Custom Fonts - locally hosted -->
    <link href="{{ url_for('static', filename='vendor/font-awesome/css/font-awesome.min.css') }}" rel="stylesheet" type="text/css">
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Acme" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">  
    
    <!-- theme CSS files -->
    <link href="{{ url_for('static', filename='vendor/magnific-popup/magnific-popup.css') }}" rel="stylesheet" type="text/css">
    

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    {% block head %}
    {% endblock %}
    {% block head_tail %}
    <!-- Theme CSS -->
    <link href="{{ url_for('static', filename='css/freelancer.min.css') }}" rel="stylesheet">
    <!-- Custom CSS gets fin-->
    <link href="{{ url_for('static', filename='css/custom.css') }}" rel="stylesheet">       
    {% endblock %}
    

</head>

<body id="page-top">
    
    
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg bg-secondary fixed-top text-uppercase" id="mainNav">
      <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="{{ url_for('index', _anchor='page-top') }}">Flaskinni</a>
        <button class="navbar-toggler navbar-toggler-right text-uppercase bg-primary text-white rounded" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          Menu
          <i class="fa fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item dropdown mx-0 mx-lg-1">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Home
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="{{ url_for('index', _anchor='guide') }}">Guide</a>
                <a class="dropdown-item py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="{{ url_for('index', _anchor='code') }}">Code</a>
              </div>
            </li>             
            <li class="nav-item mx-0 mx-lg-1">
              <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="{{ url_for('about') }}">About</a>
            </li>   
            <li class="nav-item mx-0 mx-lg-1">
              <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="{{ url_for('blog_index') }}">Blog</a>
            </li>            
            {% if current_user.is_authenticated %}
            <li class="nav-item mx-0 mx-lg-1">
              <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="{{ url_for('my_account') }}">My Account</a>
            </li>     
            {% if current_user.has_role('admin') %}
            <li class="nav-item dropdown mx-0 mx-lg-1">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Admin
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item py-3 px-0 px-lg-3 rounded js-scroll-trigger" target="_blank" href="{{ url_for('admin.index') }}">Database</a>
                <a class="dropdown-item py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="{{ url_for('new_post') }}">New Post</a>
              </div>
            </li>           
            {% endif %}
            <li class="nav-item mx-0 mx-lg-1">
              <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="{{ url_for_security('logout') }}">Logout</a>
            </li>
            {% else %}
            <li class="nav-item mx-0 mx-lg-1">
              <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="{{ url_for_security('login') }}">Login</a>
            </li>
            {% endif %}
          </ul>
        </div>
      </div>
    </nav>
    <!-- End Navigation -->
    
    {% include "security/_messages.html" %}
    
    {% block content %}{% endblock %}
    
    <!-- Footer -->
    <footer class="footer text-center">
      <div class="container">
        <div class="row">
          <div class="col-md-4 mb-5 mb-lg-0">
            <h4 class="text-uppercase mb-4">Location</h4>
            <p class="lead mb-0">34001 Cedar Rd
              <br>Gates Mills, OH 44040</p>
          </div>
          <div class="col-md-4 mb-5 mb-lg-0">
            <h4 class="text-uppercase mb-4">Around the Web</h4>
            <ul class="list-inline mb-0">
              <li class="list-inline-item">
                <a class="btn btn-outline-light btn-social text-center rounded-circle" href="http://www.facebook.com/GilmourAcademy" target="_blank">
                  <i class="fa fa-fw fa-facebook"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a class="btn btn-outline-light btn-social text-center rounded-circle" href="https://www.youtube.com/playlist?list=PL_JS5ztwk2L8FT_9YccSrbEpN6eEQuN0E" target="_blank">
                  <i class="fa fa-fw fa-youtube"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a class="btn btn-outline-light btn-social text-center rounded-circle" href="https://twitter.com/LancerTechIO" target="_blank">
                  <i class="fa fa-fw fa-twitter"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a class="btn btn-outline-light btn-social text-center rounded-circle" href="https://www.linkedin.com/in/dadiletta/" target="_blank">
                  <i class="fa fa-fw fa-linkedin"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a class="btn btn-outline-light btn-social text-center rounded-circle" href="https://github.com/dadiletta" target="_blank">
                  <i class="fa fa-fw fa-github"></i>
                </a>
              </li>
            </ul>
          </div>
          <div class="col-md-4">
            <h4 class="text-uppercase mb-4">About Flaskinni</h4>
            <p class="lead mb-0">Flaskinni is a free to use, guide and codebase for Flask applications
              Made in partnership with <a href="http://gilmour.org">Gilmour Academy</a>.</p>
          </div>
        </div>
      </div>
    </footer>

    <div class="copyright py-4 text-center text-white">
      <div class="container">
        <small>Copyright &copy; <a href="http://aresdevelopment.net" target="_blank">Ares Development LLC</a></small>
      </div>
    </div>

    <!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
    <div class="scroll-to-top d-lg-none position-fixed ">
      <a class="js-scroll-trigger d-block text-center text-white rounded" href="#page-top">
        <i class="fa fa-chevron-up"></i>
      </a>
    </div>

    <!-- jQuery -->
    <script src="{{ url_for('static', filename='vendor/jquery/jquery.js') }}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    {% block tail_js %}
    <!-- Plugin JavaScript -->
    <script src="{{ url_for('static', filename='vendor/jquery-easing/jquery.easing.min.js') }}"></script>
    <script src="{{ url_for('static', filename='vendor/magnific-popup/jquery.magnific-popup.min.js') }}"></script>

    <!-- Contact Form JavaScript -->
    <script src="{{ url_for('static', filename='js/jqBootstrapValidation.js') }}"></script>
    <script src="{{ url_for('static', filename='js/contact_me.js') }}"></script>

    <!-- Custom scripts for this template -->
    <script src="{{ url_for('static', filename='js/freelancer.min.js') }}"></script>
    {% endblock %}
    {% block tail %}{% endblock %}
</body>

</html>
