@import "sb-admin-2.scss";
/* 
    (Edit colors => _variables.scss )  
    but then use the $variables here!
*/

/**********************************/
/***********  GLOBAL  *************/
/**********************************/

#hero {
	margin-top: -70px;
	margin-bottom:50px;
	justify-content: center; 
}

#hero img {
	width: 50%;
}

#cover {
    /* save a file called loading.gif to your img folder */
    background: url("../img/loading.gif") no-repeat scroll center 40% #FFF;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 99999;
}

/* Fixes a toggle button issue */
.custom-control-label::after {
    top: .3rem;
    left: -2.05rem;
}


/**********************************/
/************  LOGO  **************/
/**********************************/

#logo-img {
	max-width:100%;
}

.navbar-nav.sidebar .sidebar-brand #logo-small {
	display: none;
}

.navbar-nav.sidebar.toggled .sidebar-brand #logo-small {
	display: flex;
	width: 38%;
}

.userpage-logo {
    min-height: 50px;
    margin-top: 50px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}


/**********************************/
/*********  SUPER ADMIN  **********/
/**********************************/
#buzzfeed {
    max-height:251px;
    overflow-y:auto;
}